<h2> <%= @flat.name %> </h2>
<p> <%= @flat.address %> </p>
<p> <%= @flat.description %> </p>
<p><i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night  %></p>
<p><i class="fa-solid fa-user-group"></i> <%= @flat.number_of_guests  %></p>

<%= link_to 'Edit', edit_flat_path %>
<%= link_to "Delete", flat_path(@flat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to 'Back to All Flats', flats_path %>
